<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/recipes" class="navbar-brand">Recipe Book</a>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" *ngIf="(authState | async).authenticated">
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/recipe-home">Home</a></li>
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/recipes">Recipes</a></li>
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/shopping-list">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" routerLinkActive="active"><a routerLink="/signup">Register</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
            <li role="presentation" routerLinkActive="active"><a routerLink="/signin">Log In</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="cursor:pointer" (click)="signOut()"><a>Log Out</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right" *ngIf="(authState | async).authenticated">
            <li class="dropdown" appDropdown>
                <a class="dropdown-toggle" role="button">Manage Data <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li style="cursor:pointer" (click)="saveData()"><a>Save Data</a></li>
                    <li style="cursor:pointer" (click)="fetchData()"><a>Fetch Data</a></li>
                </ul>
            </li>
        </ul> -->
    </div>
</nav>