<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" ngModel required name="email"/>
          <label for="password">Password</label>
          <input type="password" class="form-control" ngModel required name="password"/>
          <label for="subscription">Subscription</label>
          <select class="form-control" name="subscription" id="subscription" [ngModel]="subscriptionDefault">
          <option 
          *ngFor="let subscription of subscriptions"
          [value]="subscription">{{subscription}}
          </option>
          </select>
        </div>        
        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>        
      </form>
    </div>
  </div>
</div>